body {
    background-color: aliceblue;
    font-family: Sans-serif;
}

h2{
    text-align: left;
}

div {
    margin-bottom: 10%;
}


label {
    font-size: 14px;
    
}


input {
    width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
}

input[type="submit"]{
    width: 420px;
    background-color: gray;
    color: white;
    border: none;
}

.page{
    display: grid;
}

.input_div{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin-bottom: 0%
}

.validate_div{
    display: flex;
    justify-content: center;
    color: greenyellow;
    font-size: larger;
}

.register_div {
    display: grid;
    justify-content: center;
    background-color :white;
    border-radius: 5%;
}
